<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hjx.android.floatwindowcamera">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 网络权限以及网络状态 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 从sdcard中读取数据的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".PicApp"
        android:allowBackup="true"
        android:icon="@drawable/icom_m_pai"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".FloatWindowService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity android:name=".TakePicActivity">
        </activity>
        <activity android:name=".PreviewActivity">
        </activity>
        <activity android:name=".TakePicThreeActivity">
        </activity>
        <activity android:name=".TakeVideoThreeActivity">
        </activity>
        <activity android:name=".demo.TexttureTestActivity">
        </activity>
        <activity android:name=".demo.RecordVideoActivity">
        </activity>

        <activity android:name=".filemanager.SDCardActivity"></activity>
        <activity android:name=".filemanager.BigPhotoViewActivity"></activity>
    </application>

</manifest>